{% extends 'hospitaltemp/hospitalhome.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="card">
                <h5 class="card-header">Doctor Details</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>NAME</th>
                        <th>ADDRESS</th>
                        <th>HOSPITAL NAME</th>
                        <th>QUALIFICATION</th>
                        <th>SPECIALISATION</th>
                        <th>E-MAIL</th>
                        <th>PHONE NUMBER</th>

                      </tr>
                    </thead>
                    <tbody>
                    {% for D in D %}
                      <tr>
                        <td>{{D.name}}</td>
                        <td>{{D.address}}</td>
                        <td>{{D.hospital_name}}</td>
                        <td>{{D.qualification}}</td>
                        <td>{{D.speacialisation}}</td>
                        <td>{{D.experience}}</td>
                        <td>{{D.email}}</td>
                        <td>{{D.phone_number}}</td>

                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
{% endblock %}