{% extends 'doctortemp/doctorhome.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="card">
                <h5 class="card-header">Table Basic</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>DATE</th>
                        <th>PRESCRIPTION</th>

                      </tr>
                    </thead>
                    <tbody>
                    {% for pres in pres %}
                      <tr>
                        <td>{{pres.date}}</td>
                        <td>{{pres.prescription}}</td>

                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
{% endblock %}